#header {
  height: 40px;
  background: #404040;
  color: #FFF;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  font-family: "微软雅黑";
  letter-spacing: 1px;
}
#header .logo {
  width: 200px;
  height: 40px;
  float: left;
  margin-left: 10%;
}
#header img {
  height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#header .member_ul {
  width: 100px;
  height: 45px;
  background: url(../img/arrow1.png) no-repeat 70px 45%;
  float: right;
  margin-right: 10%;
  line-height: 40px;
  text-indent: 5px;
  cursor: pointer;
}
#header ul {
  margin-top: 3px;
  width: 100px;
  background: pink;
  padding: 5px 0;
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#header ul li {
  height: 30px;
  line-height: 30px;
  text-indent: 30px;
}
#header ul li a {
  display: block;
  color: #666;
  background: url(../img/arrow3.png) no-repeat 5px center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#header ul li a:hover {
  background: #ffcc00 url(../img/arrow4.png) no-repeat 5px 45%;
  color: #333;
}
#header .login {
  width: 80px;
  height: 40px;
  line-height: 40px;
  background: url(../img/login.png) no-repeat left center;
  cursor: pointer;
  float: right;
  text-indent: 30px;
}
#login {
  width: 400px;
  height: 300px;
  background: pink;
  position: absolute;
  display: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#login h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: "微软雅黑";
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: #0ff;
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#login h2 img {
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transform: rotate(0) scale(1, 1);
  -moz-transform: rotate(0) scale(1, 1);
  -o-transform: rotate(0) scale(1, 1);
  transform: rotate(0) scale(1, 1);
  -webkit-transition: transform 2s 0 0;
  -moz-transition: transform 2s 0 0;
  -o-transition: transform 2s 0 0;
  transition: transform 2s 0 0;
}
#login h2 img:hover {
  -webkit-transform: rotate(150deg) scale(1, 1);
  -moz-transform: rotate(150deg) scale(1, 1);
  -o-transform: rotate(150deg) scale(1, 1);
  transform: rotate(150deg) scale(1, 1);
}
#login .user,
#login .password,
#login .button {
  font-size: 14px;
  font-weight: bold;
  font-family: "微软雅黑";
  letter-spacing: 1px;
  color: #666;
  padding: 10px 0;
  text-align: center;
}
#login .text {
  width: 250px;
  height: 35px;
  background: #FFF;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#login .submit {
  text-align: center;
  margin: 10px auto;
}
#login .button {
  width: 150px;
  background: #42D77B;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#login .help {
  font-size: 12px;
  font-weight: bold;
  font-family: "微软雅黑";
  letter-spacing: 1px;
  float: right;
  padding: 25px 20px;
  cursor: pointer;
  color: #666;
}
